<% content_for :header do %>
    <div class="container">
      <h1 class="title">
        Insert a new announcement
      </h1>
    </div>
<% end %>

<div class="pv4">
  <%= render 'form', announcement: @announcement %>
</div>