<!-- profile page -->
<div class="container">
<div class="columns">
   <div class="column is-2">
    </div>
   <div class="column is-5">
    <div class="card">
       <div class="card-image">
  </div>
  <br>
  <br>
   <div id="features" class="card-content">
    <div class="content">
      <p>Username:<%= current_buyer.username %> </p>
      <p>Email:<%= current_buyer.email %> </p>
    </div>
  </div>
</div>
</div>
<br>
<br>
</div>
</div>
