<%= form_with model: current_buyer, local: true, url: purchases_url, method: :post, html: { id: "payment-form", class: "stripe-form" }, data: { stripe_key: announcement.seller.publishable_key }  do |form| %>
  <div>
    <label for="card-element" class="label">
      Credit or debit card
    </label>

    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="card-errors" role="alert" class="text-sm text-red-400"></div>
  </div>

  <input type="hidden" name="announcement" value="<%= params[:announcement] %>">

  <button class="purchase">Buy<em></em></button> <%= number_to_currency(params[:amount]) %>
<% end %>