 
 <section class="section">
    <div class="container is-fluid">
    <section class = "section">
    <% if seller_signed_in? %>
      <div class= "column-is-4">
      <div class= "p-6 mt-10 text-gray-900 bg-white rounded shadow-lg">
      <% unless current_seller.can_receive_payments? %>
      <h4 class= "mb-6 text-xl font-semibold leading-none text-gray-900">
     You wont be able to sell items until you register with Stripe!</h4>
      <%= stripe_connect_button %>  
     <% end%>  
    </div>
    </div>
   </div>
   <% else %>
     <h3> GUEST </h3>
    </section>
   </div>
   <br>
   <br>
    <div class="container is-fluid">
    <div class = "notification">
     Hi friend, Secon Hand is an application to easy search and buy object sold by other users. If you wanto to start selling click here. Otherwise if you want to buy something click here.
    </div>
   </div>
  <br>
<br>
 <% end %>

<div class="columns">
  <div class="column is-2">
  </div>
  <div class="column is-3">
  <div class="card">
  <div class="card-image">
    <figure class="image is-3by2">
      <a href='/sellers/sign_up'> <%= image_tag("seller.png", ) %></a>
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      <a href="#"> Are you a seller ?</a>
    </div>
    </div>
   </div> 
  </div>
<div class="column is-2">
  </div>
  <div class="column is-3">
  <div class="card">
  <div class="card-image">
    <figure class="image is-3by2">
      <a href='/buyers/sign_up'> <%= image_tag("buyer.png", ) %></a>
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
    <a href="#"> Are you a buyer ?</a>
    </div>
  </div>
