 
 <section class="section">
    <div class="container is-fluid">
    <div class = "notification">
      <h1 class="title">Search Deals</h1>
      <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">What are you looking for?</label>
      </div>
    <form action = "/searches" accept-charset= "UTF-8" data-remote = "true" method="post">
      <div class="field-body">
    <div class="field">
      <p class="control is-expanded has-icons-left">
        <input class="input" type="text"  name= "search[title]" placeholder="Name">
      </p>
    </div>
    <div class="field-label is-normal">
        <label class="label">Category</label>
    </div>
    <div class="field">
    <div class="control is-expanded">
        <div class="select is-fullwidth">
        <select name= "search[category]">
            <option>Other</option>
            <option>Telephony</option>
            <option>Computer</option>
            <option>Tools</option>
            <option>VideoGames</option>
            <option>Books</option>
            <option>HomeAndKitchen</option>
            <option>Car</option>
            <option>Clothing</option>
            <option>Eletronics</option>
        </select>
        </div>
    </div>
    </div>
    <div class="field-label is-normal">
      <label class="label">Where</label>
    </div>
    <div class="field">
      <p class="control is-expandeds">
        <input class="input" type="text" placeholder="City">
      </p>
    </div>
    <div class="field is-grouped">
  <div class="control">
  <input class="button" type="submit" value="Search">

  </div>
  </div>
  </div>
</div>

</form>
